.photo {
  display: inline-block;
  position: relative;
  background: black;
  width: 32%;
  min-height: 116px;
  overflow: hidden;
  margin-right: 2px;
  margin-bottom: 0;

  img {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    transform: translate(-50%, -50%);
  }
}
