.page {
  position: relative;
  background: white;
  width: 100%;
  height: 100%;
  z-index: 2;

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 128px);
  }

  &__header {
    position: relative;
    box-sizing: border-box;
    padding: 0 24px 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.08);
  }

  &__title {
    font-size: 32px;
    font-weight: 500;
    line-height: 39px;
    margin-bottom: 6px;

    &.main {
      margin-bottom: 30px;
    }
  }

  &__subtitle {
    font-size: 14px;
    line-height: 16px;
    color: #646464;
    margin-bottom: 20px;
  }

  &__inner {
    flex: 1;
    padding: 24px;
    overflow-y: auto;
  }
}
