<template lang='pug'>
el-container.home
  el-aside.home__aside(width='400px')
    Sidebar
  el-main.home__main
    Map
</template>

<script lang='ts'>
import Component, { mixins } from 'vue-class-component'
import { Watch } from 'vue-property-decorator'
import { namespace } from 'vuex-class'

import Location from '@components/Location.vue'
import Map from '@components/Map.vue'
import Sidebar from '@components/Sidebar.vue'
import { DictionaryActions } from '@store/dictionary/types'
import CatchErrorMixin from '@/mixins/CatchErrorMixin'
import { IOption } from '@store/dictionary/interfaces'
import { MapMutations } from '@store/map/types'

const DictionaryModule = namespace('dictionary')
const MapModule = namespace('map')

@Component({
  components: {
    Location,
    Map,
    Sidebar,
  },
})
export default class Home extends mixins(CatchErrorMixin) {
  @DictionaryModule.Action(DictionaryActions.A_FETCH_DICTIONARIES)
  private fetchDictionaries: () => Promise<any>

  @DictionaryModule.State(state => state.dates)
  private dates: IOption[]

  @MapModule.Mutation(MapMutations.M_SET_DATE)
  private setDate: any

  private created () {
    this.request()
  }

  private request () {
    this.fetchDictionaries()
      .catch(this.catchError)
  }

  @Watch('dates')
  private watchDates (value: IOption[], oldValue: IOption[]) {
    if (value.length !== oldValue.length && oldValue.length === 0) {
      this.setDate(value[0].value)
    }
  }
}
</script>

<style lang='scss' scoped>
@import '@/stylesheets/variables.scss';

.home {
  width: 100%;
  height: 100vh;
}

.home__aside {
  position: relative;
  height: 100%;
  width: $sidebar-width;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.home__main {
  position: relative;
  height: 100%;
}
</style>
