@import '~normalize.css';

@import './variables.scss';

@import './components/page.scss';
@import './components/image.scss';
@import './components/photo.scss';

body {
  position: relative;
  color: $color-text;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

b,
strong {
  font-weight: 600;
}
