<template lang='pug'>
.filter(:class='{ "is-opened": isOpened }')
  .filter__header
    .filter__dates
      el-select(v-model='date')
        el-option(
          v-for='date in dates'
          :key='date.value'
          :label='date.name'
          :value='date.value'
        )

    button.filter__toggle(@click='handleClick' :class='{ "is-active": isOpened }')
      span Фильтры
      svg(v-if='!isOpened' width='20' height='18' fill='none' xmlns='http://www.w3.org/2000/svg')
        rect(y='2' width='12' height='2' rx='1' fill='#646464')
        rect(x='8' y='8' width='12' height='2' rx='1' fill='#646464')
        rect(y='14' width='6' height='2' rx='1' fill='#646464')
        rect(y='8' width='6' height='2' rx='1' fill='#646464')
        rect(x='6' y='6' width='6' height='2' rx='1' transform='rotate(90 6 6)' fill='#646464')
        rect(x='10' y='12' width='6' height='2' rx='1' transform='rotate(90 10 12)' fill='#646464')
        rect(x='16' width='6' height='2' rx='1' transform='rotate(90 16 0)' fill='#646464')
        rect(x='14' y='2' width='6' height='2' rx='1' fill='#646464')
        rect(x='8' y='14' width='12' height='2' rx='1' fill='#646464')

      svg(v-if='isOpened' width="14" height="14" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(fill-rule="evenodd" clip-rule="evenodd" d="M8.1 6.7l5-5c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0l-5 5-5-5C1.3-.1.7-.1.3.3c-.4.4-.4 1 0 1.4l5 5-5 5c-.4.4-.4 1 0 1.4.4.4 1 .4 1.4 0l5-5 5 5c.4.4 1 .4 1.4 0 .4-.4.4-1 0-1.4l-5-5z" fill="#4C3BA3")

  .filter__wrapper(v-if='isOpened')
    .filter__block
      .filter__block-title возраст большинства
      button.filter__block-item(
        v-for='(item, index) in ages'
        :key='index'
        @click='age === item.value ? age = null : age = item.value'
        :class='{ "is-active": item.value === age }'
      ) {{item.name}}

    .filter__block
      .filter__block-title преобладающий пол
      button.filter__block-item(
        v-for='(item, index) in genders'
        :key='index'
        @click='gender === item.value ? gender = null : gender = item.value'
        :class='{ "is-active": item.value === gender }'
      ) {{item.name}}
</template>

<script lang='ts'>
import Component, { mixins } from 'vue-class-component'
import { namespace } from 'vuex-class'

import { IFilter, ILocation } from '@/store/map/interfaces'
import { MapActions, MapMutations } from '@/store/map/types'
import CatchErrorMixin from '@/mixins/CatchErrorMixin'
import { IOption } from '@store/dictionary/interfaces'

const DictionaryModule = namespace('dictionary')
const MapModule = namespace('map')

@Component
export default class FilterBlock extends mixins(CatchErrorMixin) {
  @MapModule.Action(MapActions.A_CLEAR_LOCATION)
  private clearLocation: () => Promise<any>

  @MapModule.State(state => state.location)
  private location: ILocation

  @MapModule.State(state => state.filter)
  private filter: IFilter

  @MapModule.Mutation(MapMutations.M_SET_GENDER)
  private setGender: any

  @MapModule.Mutation(MapMutations.M_SET_AGE)
  private setAge: any

  @MapModule.Mutation(MapMutations.M_SET_DATE)
  private setDate: any

  @DictionaryModule.State(state => state.genders)
  private genders: IOption[]

  @DictionaryModule.State(state => state.dates)
  private dates: IOption[]

  @DictionaryModule.State(state => state.ages)
  private ages: IOption[]

  private isOpened: boolean = false

  private handleClick () {
    this.isOpened = !this.isOpened
  }

  private get date () {
    return this.filter.date || ''
  }

  private set date (value: string) {
    this.setDate(value)
  }

  private get age () {
    return this.filter.age || ''
  }

  private set age (value: string) {
    this.setAge(value)
  }

  private get gender () {
    return this.filter.gender || ''
  }

  private set gender (value: string) {
    this.setGender(value)
  }
}
</script>

<style lang='scss'>
@import '@/stylesheets/variables.scss';

.filter {
  &__header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__dates {
    .el-input {
      display: flex !important;
      justify-content: flex-start !important;
      width: auto !important;
    }

    .el-input__inner {
      border: 0 none !important;
      display: inline !important;
      color: #5E6166 !important;
      padding: 0 !important;
      font-weight: 500 !important;
      font-size: 18px !important;
      line-height: 21px !important;
      width: 100px !important;
    }

    .el-input__suffix {
      position: relative !important;
      color: #5E6166 !important;
      right: 0 !important;
      top: 0 !important;

      .el-select__caret {
        color: #5E6166 !important;
        font-weight: bold !important;
      }
    }
  }

  &__toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: transparent;
    border: 0 none;
    outline: none;

    span {
      display: block;
      margin-right: 10px;
      color: #5E6166;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      transition: color 0.3s ease;
    }

    &:hover {
      span {
        color: $color-text;
      }
    }

    &.is-active {
      span {
        color: #4C3BA3;
      }
    }
  }

  &__wrapper {
    position: relative;
    background: white;
    // padding: 12px 24px 32px;
    padding: 12px 0;
    z-index: 10;
  }

  &__block {
    & + & {
      margin-top: 20px;
    }
  }

  &__block-title {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #646464;
    margin-bottom: 10px;
  }

  &__block-item {
    display: inline-block;
    border: 2px solid #E0E0E0;
    border-radius: 24px;
    cursor: pointer;
    padding: 12px 14px;
    transition: 0.3s ease;
    font-size: 14px;
    line-height: 16px;
    color: #BDBDBD;
    outline: none;

    & + & {
      margin-left: 8px;
    }

    &:hover,
    &.is-active {
      border: 2px solid #4344A1;
      color: #4344A1;
    }
  }
}
</style>
