<template lang='pug'>
.location.page
  button.location__close(@click='handleClose')
    i.el-icon-close

  .page__wrapper(v-if='location')
    .page__header
      .page__title {{location.title}}
      .page__subtitle {{location.address}}

      .location__filter
        .location__amount
          span {{location.points_count}}
          | {{amountDeclension}}
        .filter__dates
          el-select(v-model='date')
            el-option(
              v-for='date in dates'
              :key='date.value'
              :label='date.name'
              :value='date.value'
            )

    .page__inner
      .location__photos
        .location__photos-header
          span Фотографии
          button(
            v-if='location.points.length > 3'
            @click='showPhotos = !showPhotos'
          ) Все ({{location.points.length}})
        .photo(
          v-for='(photo, index) in location.points'
          :key='index'
          v-show='(!showPhotos && index < 3) || showPhotos'
        )
          img(:src='photo.preview' v-img='{ group: "slider", src: photo.url }')

      .location__block
        .location__block-title Возрастные группы
        .location__block-row
          .location__statistic(:class='{ "most": location.ages[0].value === mostAge.value }')
            span До 18 лет
            label {{location.ages[0].value}}%
          .location__statistic(:class='{ "most": location.ages[1].value === mostAge.value }')
            span 35–55 лет
            label {{location.ages[1].value}}%
        .location__block-row
          .location__statistic(:class='{ "most": location.ages[2].value === mostAge.value }')
            span 18–35 лет
            label {{location.ages[2].value}}%
          .location__statistic(:class='{ "most": location.ages[3].value === mostAge.value }')
            span 55 и старше
            label {{location.ages[3].value}}%

      .location__block
        .location__block-title Пол
        .location__block-row
          .location__statistic(:class='{ "most": location.genders[0].value > location.genders[1].value }')
            span Мужчины
            label {{location.genders[0].value}}%
          .location__statistic(:class='{ "most": location.genders[0].value < location.genders[1].value }')
            span Женщины
            label {{location.genders[1].value}}%

        .diff
          .diff__part(
            :style='{ width: `${location.genders[0].value}%` }'
            :class='{ "most": location.genders[0].value > location.genders[1].value }'
          )
          .diff__part(
          :style='{ width: `${location.genders[1].value}%` }'
            :class='{ "most": location.genders[0].value <= location.genders[1].value }'
          )

      .location__block(v-if='location.with_children || location.tourists')
        .location__block-title Социальные группы
        .location__block-row
          .location__statistic(v-if='location.tourists')
            span Туристы
            label {{location.tourists}}%
          .location__statistic(v-if='location.with_children')
            span Родители
            label {{location.with_children}}%
</template>

<script lang='ts'>
import Component, { mixins } from 'vue-class-component'
import { Watch } from 'vue-property-decorator'
import { namespace } from 'vuex-class'

import { IFilter, ILocation } from '@/store/map/interfaces'
import { MapActions, MapMutations } from '@/store/map/types'
import CatchErrorMixin from '@/mixins/CatchErrorMixin'
import { IOption } from '@store/dictionary/interfaces'

const MapModule = namespace('map')
const DictionaryModule = namespace('dictionary')

@Component
export default class Location extends mixins(CatchErrorMixin) {
  @MapModule.Action(MapActions.A_CLEAR_LOCATION)
  private clearLocation: () => Promise<any>

  @MapModule.State(state => state.location)
  private location: ILocation

  @MapModule.State(state => state.filter)
  private filter: IFilter

  @MapModule.Mutation(MapMutations.M_SET_DATE)
  private setDate: any

  @DictionaryModule.State(state => state.dates)
  private dates: IOption[]

  @MapModule.Action(MapActions.A_FETCH_LOCATION)
  private fetchLocation: (id: number) => Promise<ILocation>

  private showPhotos: boolean = false

  private request () {
    this.fetchLocation(this.location.id)
      .catch(this.catchError)
  }

  private handleClose () {
    this.clearLocation()
      .then(this.catchError)
  }

  private numfix (n: number, t: string[]): string {
    // eslint-disable-next-line
    return t[(n %= 100, 20 > n && n > 4) ? 2 :[2, 0, 1, 1, 1, 2][ (n %= 10, n < 5) ? n : 5]] // tslint:disable-line
  }

  private get amountDeclension () {
    return this.numfix(this.location.points_count, ['отметка', 'отметки', 'отметок'])
  }

  private get mostAge () {
    let age: IOption | null = null

    this.location.ages.forEach((item: IOption) => {
      if (age) {
        if (age.value < item.value) {
          age = item
        }
      } else {
        age = item
      }
    })

    return age
  }

  private get date () {
    return this.filter.date || ''
  }

  private set date (value: string) {
    this.setDate(value)
  }

  @Watch('filter')
  private watchDate (value: IFilter, oldValue: IFilter) {
    if (value.date !== oldValue.date) {
      this.request()
    }
  }
}
</script>

<style lang='scss'>
@import '@/stylesheets/variables.scss';

.location {
  &__filter {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__amount {
    display: inline-flex;
    align-items: flex-end;
    color: #4C3BA3;
    font-size: 18px;
    line-height: 32px;

    span {
      display: inline-block;
      font-weight: bold;
      font-size: 28px;
      line-height: 40px;
      margin-right: 8px;
    }
  }

  &__photos {
    margin-bottom: 35px;
  }

  &__photos-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;

    button {
      background: transparent;
      border: 0 none;
      cursor: pointer;
      font-size: 14px;
      line-height: 16px;
      color: #4C3BA3;
      outline: none;
    }

    span {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      color: #646464;
    }
  }

  &__block {
    & + & {
      margin-top: 20px;
    }
  }

  &__block-title {
    position: relative;
    color: #646464;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 12px;
  }

  &__block-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & + & {
      margin-top: 10px;
    }
  }

  &__statistic {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;

    label {
      display: block;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
    }

    span {
      font-size: 14px;
      line-height: 16px;
      color: #646464;
    }

    &.most {
      label,
      span {
        color: #4C3BA3;
      }
    }
  }
}

.diff {
  display: flex;
  height: 8px;
  margin-top: 8px;

  &__part {
    display: block;
    height: 8px;
    background: #C4C4C4;

    &.most {
      background: #4C3BA3;
    }
  }
}

.location__close {
  position: absolute;
  display: block;
  cursor: pointer;
  top: -40px;
  right: 0;
  width: 40px;
  height: 40px;
  background: white;
  border: 0 none;
  outline: none;
  transition: background 0.3s ease, opacity 0.3s ease 0.5s;
  z-index: 10;

  &:hover {
    background: #E0E0E0;
  }
}
</style>
