<template lang='pug'>
.page
  .page__wrapper
    .page__header
      .page__title.main Топ популярных мест
      FilterBlock
    .page__inner
      .location-item(v-for='location in locations' :key='location.id')
        LocationCard(:entity='location')
</template>

<script lang='ts'>
import Debounce from 'debounce-decorator'
import Component, { mixins } from 'vue-class-component'
import { Watch } from 'vue-property-decorator'
import { namespace } from 'vuex-class'

import { IFilter, ILocationShort } from '@store/map/interfaces'
import { MapActions } from '@store/map/types'
import CatchErrorMixin from '@/mixins/CatchErrorMixin'
import LocationCard from '@components/LocationCard.vue'
import FilterBlock from '@components/FilterBlock.vue'

const MapModule = namespace('map')

@Component({
  components: {
    LocationCard,
    FilterBlock,
  },
})
export default class Locations extends mixins(CatchErrorMixin) {
  @MapModule.Action(MapActions.A_FETCH_LOCATIONS)
  private fetchLocations: () => Promise<ILocationShort>

  @MapModule.State(state => state.locations)
  private locations: ILocationShort[]

  @MapModule.State(state => state.filter)
  private filter: IFilter

  private created () {
    this.request()
  }

  @Debounce(300)
  private request () {
    this.fetchLocations()
      .catch(this.catchError)
  }

  @Watch('filter')
  private watchFilter (value: IFilter, oldValue: IFilter) {
    this.request()
  }
}
</script>

<style scoped lang='scss'>
.location-item {
  & + & {
    margin-top: 24px;
  }
}
</style>
