<template lang='pug'>
.location-card(@click='handleOpen(entity.id)')
  .location-card__wrapper
    .image
      img(:src='entity.preview')
    .location-card__info
      .location-card__name {{entity.title}}
      .location-card__address {{entity.address}}
    .location-card__count {{entity.points_count}}
</template>

<script lang='ts'>
import { namespace } from 'vuex-class'
import { Prop } from 'vue-property-decorator'
import Component, { mixins } from 'vue-class-component'

import { ILocation, ILocationShort } from '@/store/map/interfaces'
import CatchErrorMixin from '@/mixins/CatchErrorMixin'
import { MapActions } from '@/store/map/types'

const MapModule = namespace('map')

@Component
export default class LocationCard extends mixins(CatchErrorMixin) {
  @MapModule.Action(MapActions.A_FETCH_LOCATION)
  private fetchLocation: (id: number) => Promise<ILocation>

  @Prop({ required: true })
  private entity: ILocationShort

  private handleOpen (id: number) {
    this.fetchLocation(id)
      .catch(this.catchError)
  }
}
</script>

<style lang='scss'>
@import '@/stylesheets/variables.scss';

.location-card {
  cursor: pointer;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 24px;
    width: 100%;

    > * {
      margin-right: 16px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__info {
    flex: 1;
  }

  &__name {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 5px;
  }

  &__address {
    font-size: 14px;
    line-height: 16px;
    color: #646464;
  }

  &__count {
    color: #4C3BA3;
    font-size: 28px;
    font-weight: bold;
    line-height: 34px;
    text-align: right;
    margin-bottom: 16px
  }
}
</style>
