<template lang='pug'>
#map.map(ref='heatmap')
</template>

<script lang='ts'>
import Component, { mixins } from 'vue-class-component'
import GmapCluster from 'vue2-google-maps/dist/components/cluster'
import { Prop, Watch } from 'vue-property-decorator'
import { namespace } from 'vuex-class'

import { ICoord, IFilter, ILocation, IPosition } from '@store/map/interfaces'
import { MapActions } from '@store/map/types'
import CatchErrorMixin from '@/mixins/CatchErrorMixin'

const MapModule = namespace('map')

@Component({
  components: {
    GmapCluster,
  },
})
export default class Map extends mixins(CatchErrorMixin) {
  @MapModule.Action(MapActions.A_FETCH_COORDS)
  private fetchCoords: () => Promise<ICoord>

  @MapModule.State(state => state.coords)
  private coords: ICoord[]

  @MapModule.State(state => state.filter)
  private filter: IFilter

  @MapModule.State(state => state.location)
  private location: ILocation

  @Prop({ default: 55.354641 })
  private lat: number

  @Prop({ default: 86.087883 })
  private lng: number

  private map: any = null

  private heatmap: any = null

  private zoom: number = 14

  private center: IPosition = {
    lat: 55.354641,
    lng: 86.087883,
  }

  private request () {
    this.fetchCoords()
      .then(this.initMap)
      .catch(this.catchError)
  }

  private initMap () {
    return this.$gmapApiPromiseLazy().then(() => {
      const heatMapData = this.coords.map((coord: ICoord) => ({
        // tslint:disable-next-line
        location: new google.maps.LatLng(coord.location.lat, coord.location.lng), // eslint-disable-line
        weight: coord.weight,
      }))

      // tslint:disable-next-line
      this.map = new google.maps.Map(document.getElementById('map'), { // eslint-disable-line
        center: this.center,
        zoom: this.zoom,
        options: this.options,
        mapTypeId: 'roadmap',
      })

      // tslint:disable-next-line
      this.heatmap = new google.maps.visualization.HeatmapLayer({ // eslint-disable-line
        data: heatMapData,
        map: this.map,
        radius: 50,
        maxIntensity: 90,
      })
    })
  }

  private setCenter (position?: IPosition) {
    if (position) {
      this.center = {
        lat: position.lat,
        lng: position.lng,
      }
      this.map.setCenter({
        lat: position.lat,
        lng: position.lng,
      })
    } else {
      this.center = {
        lat: 55.354641,
        lng: 86.087883,
      }
      this.map.setCenter({
        lat: 55.354641,
        lng: 86.087883,
      })
    }
    this.zoom = 14
  }

  private get options () {
    return {
      mapTypeControl: false,
      scaleControl: false,
      streetViewControl: false,
      rotateControl: false,
      fullscreenControl: false,
      disableDefaultUi: true,
    }
  }

  @Watch('filter')
  private watchFilter () {
    if (this.map) {
      this.center = {
        lat: this.map.getCenter().lat(),
        lng: this.map.getCenter().lng(),
      }
    }
    this.request()
  }

  @Watch('location')
  private watchLocation (value: ILocation, oldValue: ILocation) {
    if (value !== oldValue) {
      this.setCenter(value ? value.position : undefined)
      this.request()
    }
  }
}
</script>

<style lang='scss' scoped>
.map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
</style>
